<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'A Tealeaf Academy Project', "http://gotealeaf.com"%>
  </li>
</ul>
<div class="nav_item">
  <%= link_to "New Post", new_post_path, class: "btn btn-primary btn-small"%>
</div>
<div class="nav_item">
  <%= link_to "New Category", new_category_path, class: "btn btn-small" %>
</div>
